# Project Files #
#################
/web/bundles/
composer.lock
/vendor
/app/config/parameters.yml
npm-debug.log
/bower_components
/build
/node_modules
/web/vendor
/cache/*
/logs/*
!cache/.gitkeep
!logs/.gitkeep
/bin/*
!bin/console
!bin/symfony_requirements
/var/bootstrap.php.cache
/var/SymfonyRequirements.php