parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     authentications
    database_user:     root
    database_password: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: test
    database_user: root
    database_password: ""

    minutesToLast: 15
    site_name: 'Teamspeak Auth'
    server_address: 'auth.example.com or example.com:35879'
