body {
    background-image: url('../img/pat.png');
}
.jumbotron {
    text-align: center;
    background-image: url('../img/connecto.png');
    margin-top: 50px;
}
.form-control {
    text-align: center;
    margin: 2px;
}