parameters:
  minutesToLast: 15
  iconURL: "https://minotar.net/helm/;username;/16.png"
  serverAddress: "auth.example.com or example.com:35879"
  teamspeak:
    host: ts.example.com
    port: 9987
    username: serveradmin
    password: ""
    query_port: 10011
    group_id: 222
  database:
    host: localhost
    port: 3306
    database: authentication
    username: ""
    password: ""
  minecraft:
    host: 0.0.0.0
    port: 35879
    motd: "§eAuth Server"

services:
  minecrafthelper:
    class: PublicUHC\TeamspeakAuth\Helpers\DefaultMinecraftHelper
    arguments: ['%iconURL%']
  teamspeakhelper:
    class: PublicUHC\TeamspeakAuth\Helpers\DefaultTeamspeakHelper
    arguments: ['@teamspeakserver', '@entityManager']
  teamspeakserver:
    factory_class: TeamSpeak3
    factory_method: factory
    arguments: ['serverquery://%teamspeak.username%:%teamspeak.password%@%teamspeak.host%:%teamspeak.query_port%/?server_port=%teamspeak.port%']
  annotationmetadata:
    factory_class: Doctrine\ORM\Tools\Setup
    factory_method: createAnnotationMetadataConfiguration
    arguments: [['%global.srcroot%'], true]
  entityManager:
    factory_class: Doctrine\ORM\EntityManager
    factory_method: create
    arguments: [{driver: 'pdo_mysql', user: '%database.username%', password: '%database.password%', dbname: '%database.database%'}, '@annotationmetadata']