parameters:
  minutesToLast: 15
  teamspeak:
    host: localhost
    port: 9988
    username: serveradmin
    password: ""
    query_port: 10011
    group_id: 222
  database:
    host: localhost
    port: 3306
    database: authentication
    minecraft_table: minecraft_codes
    teamspeak_table: teamspeak_codes
    username: ""
    password: ""
  minecraft:
    host: localhost
    port: 35879
    motd: "§eAuth Server"

services:
  teamspeakhelper:
    class: PublicUHC\TeamspeakAuth\Helpers\DefaultTeamspeakHelper
    arguments: ["@teamspeakserver"]
  teamspeakserver:
    factory_class: TeamSpeak3
    factory_method: factory
    arguments: ["serverquery://%teamspeak.username%:%teamspeak.password%@%teamspeak.host%:%teamspeak.query_port%/?server_port=%teamspeak.port%"]
  tscodes:
    class: PublicUHC\TeamspeakAuth\Repositories\DefaultCodeRepository
    arguments: ["@pdo", "%database.teamspeak_table%", "%minutesToLast%"]
  mccodes:
    class: PublicUHC\TeamspeakAuth\Repositories\DefaultCodeRepository
    arguments: ["@pdo", "%database.minecraft_table%", "%minutesToLast%"]
  pdo:
    class: PDO
    arguments: ["mysql:host=%database.host%;dbname=%database.database%", "%database.username%", "%database.password%"]
