parameters:
  teamspeak:
    host: localhost
    port: 9988
    username: serveradmin
    password: ""
    query_port: 10011
    group_id: 222
  database:
    host: localhost
    port: 3306
    database: authentication
    username: ""
    password: ""
  minecraft:
    host: localhost
    port: 35879
    motd: "§eAuth Server"

services:
  ts3interface:
    class: PublicUHC\TeamspeakAuth\TeamspeakHelper
    arguments: ["%teamspeak.host%", "%teamspeak.query_port%", "%teamspeak.port%", "%teamspeak.username%", "%teamspeak.password%"]
