%p
  Using Minecraft 1.7.6+ connect to
  - if server_addresses|length > 1
    one of the following servers:
  - else
    the server:
  .panel
    - for address in server_addresses
      %p
        %i.fa.fa-cubes
        #{address}
%p Enter both your Minecraft username and received Minecraft code below: (case sensitive)
%hr/
.errors
  %alert{"ng-repeat"=>"alert in errors", :type=>"alert.type", :close=>"removeError($index)"} {{alert.msg}}
.row.collapse
  .small-5.columns
    %input.form-control{:type=>"text", :placeholder=>"Minecraft Nickname", :autofocus=>true, "ng-model"=>"minecraftUsername"}
  .small-5.columns
    %input.form-control{:type=>"text", :placeholder=>"Minecraft Code", "ng-model"=>"minecraftCode"}
  .small-2.columns
    %a.button.postfix{"ng-click"=>"verifyCodes()"} Verify!