.small-10.small-offset-1.columns
  .row
    %h2 All done!
    %p Your teamspeak identity is now verified for the following account:
    %p
      %img{"ng-src"=>"{{ image_url }}"}
      %em {{ mc_name }}