.uuid-fetcher.animate-switch-container{"ng-switch"=>true, :on=>"teamspeak_stage"}
  %div{"cg-busy"=>"{promise:promise, message:'Checking TS3 Account...'}"}
    %p Enter your current Teamspeak nickname (case sensitive) and hit 'Request Code'.
    .errors
      %alert{"ng-repeat"=>"alert in errors", :type=>"alert.type", :close=>"removeError($index)"} {{alert.msg}}
    .row.collapse
      .small-10.columns
        %input.form-control{:type=>"text", :placeholder=>"Teamspeak Nickname", :autofocus=>true, "ng-model"=>"request_nick", :keybind=>"requestCode()", :key=>13}
      .small-2.columns
        %a.button.postfix{"ng-click"=>"requestCode()"} Request Code
    %div{"ng-show"=>"teamspeak_details != null"}
      Selected teamspeak account "{{ teamspeak_details.name }}"
      %em ({{ teamspeak_details.uuid }})