.small-10.small-offset-1.columns
  %h2 Verify your Account
  %ts-uuid-fetcher{"teamspeak-details"=>"teamspeakDetails"}
  %account-verification{"teamspeak-details"=>"teamspeakDetails", "ng-show"=>"teamspeakDetails != null", "minecraft-name"=>"minecraftName"}
  .row
    %h2 All done!
    %p Your teamspeak identity is now verified for the following account:
    %p
      %img{"ng-src"=>"{{ minecraftSkin }}"}
      %em {{ minecraftName }}