.small-10.small-offset-1.columns
  %h2 Verify your Account
  %ts-uuid-fetcher{"teamspeak-details"=>"teamspeakDetails"}
  %p Connect to the server #{server_address} in Minecraft 1.7.6+
  %p You should then get kicked with a code, enter both your username and code below: (case sensitive)
  %p You will also need to enter the code you received from teamspeak in the previous step in the final box
  %hr/
  .error_area

  .row.collapse
    .small-6.columns
      %input.form-control#mc_name{:type=>"text", :placeholder=>"Minecraft Nickname", :autofocus=>true}
    .small-6.columns
      %input.form-control#mc_code{:type=>"text", :placeholder=>"Minecraft Code"}
  .row
    .small-12.columns
      %input.form-control#ts_code{:type=>"text", :placeholder=>"Teamspeak Code"}
  %input.form-control#ts_uuid{:type=>"hidden", :value=>"{{ ts_uuid }}"}
  %a.button#verify_codes{:role=>"button"} Verify Code

  .row
    %h2 All done!
    %p Your teamspeak identity is now verified for the following account:
    %p
      %img{"ng-src"=>"{{ image_url }}"}
      %em {{ mc_name }}