{% extends 'layout.html.twig' %}

{% block page_title %}404 - Not Found{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1><b>4<i class="fa fa-times-circle"></i>4</b></h1>
        <h2>File Not Found</h2>
    </div>
</div>
{% endblock %}