- extends "layout.html.twig"

- block page_title
  500 - Interal Server Error

- block content
  %h1
    %b<>
      5
      %i.fa.fa-times-circle<>
      %i.fa.fa-times-circle<>
  %h2 Internal Server Error
  %em Please try again later. If the problem persists please contact an administrator