{% extends 'layout.html.twig' %}

{% block page_title %}404 - Not Found{% endblock %}

{% block content %}
<h1><b>5<i class="fa fa-times-circle"></i><i class="fa fa-times-circle"></i></b></h1>
<h2>Internal Server Error</h2>
<em>Please try again later, if the problem persists please contact a server admin</em>
{% endblock %}