{% extends 'layout.html.twig' %}

{% block page_title %}404 - Not Found{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>500 - Internal Server Error</h1>
    </div>
</div>
{% endblock %}