{% extends 'layout.html.twig' %}

{% block title %}{{ siteName }} - Complete!{% endblock %}

{% block content %}
    <div class="small-10 small-offset-1 columns">
        <div class="row">
            <h2>All done!</h2>
            <p>
                Your teamspeak identity is now verified for the following account:
            </p>
            <p>
                <img src="{{ path('avatarhelm', {'username': mc_name, 'size': 30}) }}"/> - <em>{{ mc_name }}</em>
            </p>
        </div>
    </div>
{% endblock %}