{% extends 'layout.html.twig' %}

{% block title %}Teamspeak Authentication - Complete!{% endblock %}

{% block content %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <h1>All done!</h1>
            <p>
                Your teamspeak identity is now verified for the following account:
            </p>
            <p>
                <img src="{{ imgURL }}"/> - <em>{{ mc_name }}</em>
            </p>
        </div>
    </div>
{% endblock %}