{% extends 'layout.html.twig' %}

{% block page_title %}{{ siteName }} - Home{% endblock %}

{% block content %}
<p>
    Teamspeak authentication allows you to be sure of who you are talking to.
</p>
<p>
    A verified user will have the following:
</p>
<p class="center-justified">
    <i class="fa fa-check-square-o"></i> Their Minecraft username will be shown in their description
</p>
<p class="center-justified">
    <i class="fa fa-check-square-o"></i> A special 'verified' group
</p>
<p class="center-justified">
    <i class="fa fa-check-square-o"></i> An icon of their Minecraft skin's face
</p>
<hr>
<p>
    Example: <img src="{{ asset('images/fairy.png') }}"/>
</p>
<p class="text-warning">
    <em><i class="fa fa-exclamation-triangle"></i> Minecraft faces are based on Minotar. To update them you will need to reverify</em>
</p>
<hr>
<p>
    <a id="request_codes" class="button [radius round]" role="button" href="{{ path('teamspeakrequest') }}">Start verification here</a>
</p>
{% endblock %}