{% extends 'layout.html.twig' %}

{% block page_title %}Teamspeak Authentication - Home{% endblock %}

{% block content %}
<h1>Teamspeak Verification</h1>
<br/>
<p>
    Teamspeak verification allows you to be sure of who you are talking to.
</p>
<p>
    A verified user will have their description set to their Minecraft username and will have an icon that is their ingame skin.
</p>
<p>
    <em>To see a clients description, click on them and their description is shown in the right hand side info box</em>
</p>
<p>
    Example: <img src="{{ asset('images/fairy.png') }}"/>
</p>
<p>
    <a id="request_codes" class="btn btn-primary btn-md" role="button" href="{{ path('teamspeakrequest') }}">Start verification here</a>
</p>
<p>
    <em>Minecraft faces are added based on Minotar and to change inside teamspeak requires reverification</em>
</p>
{% endblock %}