<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Teamspeak Authentication{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/TeamspeakAuth.min.css', 'vendor') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="row">
    <div class="small-10 small-offset-1 columns">
        <div class="row page-wrapper text-center">
{% block content %}

{% endblock %}
        <div class="copyright-footer">&copy;Eluinhost 2014. <a href="https://github.com/Eluinhost/TeamspeakAuth"><em>Source Code</em></a></div>
        </div>
    </div>
</div>
{% block javascripts %}
<script src="{{ asset('js/TeamspeakAuth.min.js', 'vendor') }}"></script>
{% endblock %}
</body>
</html>