<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Teamspeak Authentication{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/TeamspeakAuth.min.css', 'vendor') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row page-wrapper text-center">
{% block content %}

{% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
<script src="{{ asset('js/TeamspeakAuth.min.js', 'vendor') }}"></script>
{% endblock %}
</body>
</html>