{% extends 'layout.html.twig' %}

{% block title %}Teamspeak Authentication - Request Teamspeak Code{% endblock %}

{% block content %}
    <div class="small-10 small-offset-1 columns">
        <div class="row">
            <h1>Request a Teamspeak Code</h1>
            <p>
                Enter your current nickname inside Teamspeak below and hit 'Request Code'.
            </p>
            <p>
                You should then get a message inside Teamspeak containing a code. Keep this code for later on.
            </p>
            <hr>
            <div class="error_area">

            </div>
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" class="form-control" id="ts_name" placeholder="Teamspeak Nickname" autofocus/>
                </div>
                <div class="small-2 columns">
                    <a href="#" id="request_codes" class="button postfix">Request Code</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).keypress(function(e){
                if (e.which == 13){
                    $("#request_codes").click();
                }
            });
            $('#request_codes').click(function(e){
                $('.error_area').empty();
                e.preventDefault();
                $.get("{{ path('teamspeakcode') }}", {'ts_name': $('#ts_name').val()}).done(function(data){
                    var uuid = data.UUID;
                    window.location = '{{ path('verifyaccount') }}/' + uuid;
                }).fail(function(xhr){
                    var error = 'Unknown Error';
                    if(typeof xhr.responseJSON === 'undefined'){
                        error = 'Unexpected response from server';
                    } else {
                        error = xhr.responseJSON.error;
                    }
                    $('.error_area').append('<div data-alert class="alert-box alert round">' + error + '</div>');
                });
            });
        });
    </script>
{% endblock %}
