{% extends 'layout.html.twig' %}

{% block title %}Teamspeak Authentication - Request Teamspeak Code{% endblock %}

{% block content %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <h1>Request a Teamspeak Code</h1>
            <p>
                Enter your current nickname inside Teamspeak below and hit 'Request Code'.
            </p>
            <p>
                You should then get a message inside Teamspeak containing a code. Keep this code for later on.
            </p>
            <hr>

            <div id="code_alert" class="alert alert-danger fade in">
                <a class="close alert-close" href="#">&times;</a>
                <span id="code_error">Unknown Error</span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" id="ts_name" placeholder="Teamspeak Nickname" autofocus/>
                <span class="input-group-btn">
                    <button class="btn btn-default" id="request_codes" type="button">Request Code</button>
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).keypress(function(e){
                if (e.which == 13){
                    $("#request_codes").click();
                }
            });
            $('#request_codes').click(function(e){
                $('.alert').hide();
                e.preventDefault();
                $.get("{{ path('teamspeakcode') }}", {'ts_name': $('#ts_name').val()})
                .done(function(data){
                    var uuid = data.UUID;
                    window.location = '{{ path('verifyaccount') }}/' + uuid;
                })
                .fail(function(xhr){
                    if(typeof xhr.responseJSON === 'undefined'){
                        $('#code_error').html('Unexpected response from server');
                    }else{
                        $('#code_error').html(xhr.responseJSON.error);
                    }
                    $('#code_alert').show();
                });
            });
            $('.alert').hide();
            $('.alert-close').click(function(e){
                e.preventDefault();
                $(this).parent().hide();
            });
        });
    </script>
{% endblock %}
