.small-10.small-offset-1.columns
  %h2 Request a Teamspeak Code
  %p Enter your current nickname inside Teamspeak below and hit 'Request Code'.
  %p You should then get a message inside Teamspeak containing a code. Keep this code for later on.
  %hr /
  .error_area /
  .row.collapse
    .small-10.columns
      %input#ts_name.form-control{:type=>"text", :placeholder=>"Teamspeak Nickname", :autofocus=>true}
    .small-2.columns
      %a#request_codes.button.postfix{:href=>"#"}
        Request Code